.navbar .navbar-inner {
background-image: url('/assets/header.jpg');
background-size: 800px 92px;
}

.navbar .container .brand {
  color: #ff0000;
}

html {
  background-image: url('/assets/old_mathematics.png');
}

body {
  background: transparent;
}

.playlistContainer {
  overflow-y: auto;
  overflow-x: hidden;
  height: 200px;
  width: auto;
}